name: Cloud Continuous Integration

on:
  push:

permissions:
  id-token: write
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:
  branch_check:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Fail on restricted branch
        # https://docs.github.com/en/actions/learn-github-actions/expressions#example-matching-an-array-of-strings
        if: contains(fromJSON('["cloud"]'), github.ref)
        run: exit 1
      - name: test
        run: echo ${{ github.ref }}
